{% extends "base.html" %}
{% load static %}

{% block sidenav %}
   {% for item in item_list %}
     <li>
       <a href="{{ item.link }}"> {{ item.item }} </a>
     </li>
   {% endfor %}
{% endblock sidenav %}

{% block content %}
   <h1> My Books </h1>
   <table border="2" width="400">
       <tr>
            <th>
                Book Name
            </th>
            <th>
                Picture
            </th>
            <th>
                DELETE
            </th>
        </tr>
       {% for book in books %}
        <tr>
            <td>
                <a href="book_detail/{{ book.id }}">
                    {{ book.name }}
                </a>
            </td>
            <td>
                <img src="{% static book.pic_path %}" height="50"/>
            </td>
            <td align="center">
                <a href="book_delete/{{ book.id }}">
                    <img src="{% static 'delete.png' %}" height="50"/>
                </a>
            </td>
        </tr>
       {% endfor %}
   </table>
{% endblock content %}